# --- Git ---
.git
.gitignore

# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments (any common name) ---
venv/
.venv/
env/
.env/
myvenv/
ENV/

# --- Model weights / checkpoints ---
weights/
ckpt/
*.pt
*.pth

*.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

results/

# Binaries
*.exe
*.dll
*.so

# infernece graphs and engines
*.onnx
*.data
*.engine

# Editor
.vscode/
.idea/

# Cache
.cache/