torch
torchvision
transformers
opencv-python-headless
websockets
gradio
onnxruntime
onnxscript

# If using GPU, replace onnxruntime with:
# onnxruntime-gpu
#
# TensorRT (optional, NVIDIA only):
# pip install tensorrt