# Install PyTorch separately using:
# https://pytorch.org/get-started/locally/

transformers
opencv-python-headless
fastapi
uvicorn
av
websockets
python-multipart
pyside6
onnxruntime-gpu
onnxscript
tensorrt
